<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mythdroid"
    android:versionCode="3"
    android:versionName="0.3">
      
	<application android:icon="@drawable/logo" android:label="@string/app_name">
      	
      	<receiver android:name=".BCastReceiver">
        	<intent-filter>
        		<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
        		<action android:name="android.intent.action.PHONE_STATE" />
        		
        	</intent-filter>
        </receiver>
      	
        <activity android:name=".activities.MythDroid" android:label="@string/app_name">
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
               
        <activity android:name=".activities.Recordings" 
        	android:label="Recordings"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.RecordingDetail" 
        	android:label="Program Details"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.Prefs" 
        	android:label="@string/app_name"/>
        	
        <activity android:name=".activities.FrontendList" 
        	android:label="Frontends"/>
        	
        <activity android:name=".activities.Media" 
        	android:label="Media"
        	android:configChanges="keyboardHidden|orientation"/>
        	
       	<activity android:name=".activities.Videos" 
        	android:label="Videos"
        	android:configChanges="keyboardHidden|orientation"/>
        	
       	<activity android:name=".activities.VideoDetail" 
        	android:label="Video Details"
        	android:configChanges="keyboardHidden|orientation"/>
                	
        <activity android:name=".activities.Status" 
        	android:label="Status"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.StatusRecorders" 
        	android:label="Recorder Status"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.StatusScheduled" 
        	android:label="Scheduled Recordings"
        	android:configChanges="keyboardHidden|orientation"/>
        	
		<activity android:name=".activities.StatusJobs" 
        	android:label="Job Queue"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.StatusBackend" 
        	android:label="Backend Status"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.Guide" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:configChanges="keyboardHidden|orientation"/>
        	        	        	
        <activity android:name=".remote.NavRemote" 
       		android:theme="@android:style/Theme.NoTitleBar"
       		android:configChanges="keyboardHidden|orientation"/>
       		
        <activity android:name=".remote.TVRemote" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:configChanges="keyboardHidden|orientation"/>
        	
       	<activity android:name=".remote.MusicRemote" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:configChanges="keyboardHidden|orientation"/>
        	
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
    
</manifest> 