<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mythdroid"
    android:versionCode="63" android:versionName="0.6.3">
    
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    
	<application android:icon="@drawable/logo" android:label="@string/appName" android:name=".MythDroid">
      	
      	<receiver android:name=".receivers.PhoneStateReceiver">
        	<intent-filter>
        		<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
        		<action android:name="android.intent.action.PHONE_STATE" />
        	</intent-filter>
        </receiver>
        
        <service android:name=".remote.WakeService"/>
        <service android:name=".util.UpdateService"/>
        
        <activity android:name="org.acra.CrashReportDialog"
        	android:theme="@android:style/Theme.Dialog"
        	android:launchMode="singleInstance"
        	android:excludeFromRecents="true"
        	android:finishOnTaskLaunch="true"/>
        
        <activity android:name="org.mythdroid.activities.Main" 
        	android:label="@string/appName"
        	android:configChanges="keyboardHidden|orientation">
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
               
        <activity android:name=".activities.Recordings" 
        	android:label="Recordings"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.RecordingDetail" 
        	android:label="Program Details"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.Prefs" 
        	android:label="@string/appName"/>
        	
        <activity android:name=".activities.FrontendList" 
        	android:label="Frontends"/>
        	
       	<activity android:name=".activities.Videos" 
        	android:label="Videos"
        	android:configChanges="keyboardHidden|orientation"/>
        	
       	<activity android:name=".activities.VideoDetail" 
        	android:label="Video Details"
        	android:configChanges="keyboardHidden|orientation"/>
        	
        <activity android:name=".activities.VideoPlayer" 
        	android:screenOrientation="landscape"
        	android:theme="@style/MDFullScreen"
        	android:configChanges="keyboardHidden|orientation"/>
                	
        <activity android:name=".activities.Status" 
        	android:label="Status"
        	android:configChanges="keyboardHidden|orientation"/>
          	
        <activity android:name=".activities.Guide" 
        	android:theme="@style/MDNoTitle"
        	android:configChanges="keyboardHidden|orientation"/>
        	        	        	
        <activity android:name=".remote.NavRemote" 
       		android:theme="@style/MDNoTitle"
       		android:configChanges="keyboardHidden|orientation"/>
       		
        <activity android:name=".remote.TVRemote" 
        	android:theme="@style/MDNoTitle"
        	android:configChanges="keyboardHidden|orientation"/>
        	
       	<activity android:name=".remote.MusicRemote" 
        	android:theme="@style/MDNoTitle"
        	android:configChanges="keyboardHidden|orientation"/>
        	
    </application>
    
</manifest> 